gamepads.xcodeproj/project.xcworkspace/xcshareddata
gamepads.xcodeproj/project.xcworkspace/xcuserdata
gamepads.xcodeproj/xcshareddata
gamepads.xcodeproj/xcuserdata
gamepads.VC.VC.opendb
gamepads.VC.db
x64/
Win32/
gamepads
gamepads.app
*.o
*.d
